DEEPSEEK_API_KEY=deepseek-api-key
MONGO_URI="mongodb://localhost:27017/agentic-consensus" # MongoDB URI
GEMINI_API_KEY=gemini-api-key
PORT=4005 # Port to run the server on
SEED_SERVER_ADDRESS=http://192.168.31.47:4000 # IP address of the seed server
HASHES_PER_TICK=100 # Number of hashes to mine per tick
REDIS_HOST=localhost
REDIS_PORT=6379
SHOW_VDF_TICK=false
SHOW_EPOCH_LOG=false
SHOW_AGENT_PERFORMANCE_ANALYSIS_LOG=false
SHOW_BLOCK_CEATION_LOG=true